.booksSection {
    padding: 2rem;


    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        align-content: flex-end;
        justify-content: center;
        gap: 13rem;

        @media only screen and (max-width: 480px) {
            align-items: center;
            justify-content: center;
            align-content: center;
        }

        @media only screen and (max-width: 768px){
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            justify-content: center;
            align-content: center;

        }
        
    }
}