@import '../core/variables.scss';

.loginSection{
    background-color: $pink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: $eucalyptus;
        width: 40%;
        padding: 8rem;
        gap: 0.5rem;
        height: 34.6rem;


        &--label {
            font-size: 1.5rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            font-family: 'Courier New', Courier, monospace;
        }

        &--input {
            height: 3rem;
            width: 20rem;
            border-radius: 1rem;
            padding: 0.2rem;
        }

        &--button{
            border-radius: 2rem;
            width: 10rem;
            height: 3rem;
            border: solid 1px $darkBrown;
            background-color: $lightBrown;
            cursor: pointer;
        }
    }

    &__decoration {
        width: 50%;
        background-color: $eucalyptus;
        height: 34.6rem;
        padding-right: 1rem;
    }
}