@import '../core/variables.scss';

.main {
    background-color: $pink;

    @media only screen and (max-width: 480px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    @media only screen and (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;

    }

}