@import '../core/variables.scss';

.myBooksSection {
    padding: 2rem;


    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        align-content: flex-end;
        justify-content: center;
        gap: 13rem;
        
    }
}